%h2#logo
  %a{:href => "/"}
    = image_tag 'logo.png'
.tools
  %ul
    %li.favorite
      %a(href='#' ng-click='favoriteButton($event);') Favorite
    %li.shuffle
      %a{:href => ""} Shuffle
#player1.videocontainer
#player2.videocontainer.hide
